{% extends "base.html" %}


{% block content %}My index page
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum eveniet facere nostrum placeat voluptatem.
        Illo, molestiae, voluptatem! Accusamus alias amet, asperiores autem dolorem doloremque et incidunt iusto, nemo,
        odit quod.
    </div>
    <div>Corporis cumque, distinctio facere necessitatibus non possimus ratione reprehenderit soluta tempora vero!
        Blanditiis cupiditate dolorum ea error similique sint, sit sunt tempore vitae voluptate. Ad commodi facilis
        iusto possimus praesentium.
    </div>
    <div>Ab earum maiores mollitia obcaecati, omnis voluptas. Ab accusamus adipisci architecto dicta dolorem ducimus
        earum esse eum exercitationem itaque, magnam neque perspiciatis provident quae repellat, sunt suscipit tenetur
        velit! Eligendi.
    </div>
    <div>Alias animi aut doloremque doloribus dolorum eaque fuga fugiat iste iusto labore magnam odio porro possimus,
        quis rem repudiandae sed similique totam, voluptas voluptates. Ad aperiam ducimus minima optio similique.
    </div>
    <div>Amet animi, asperiores, at aut consequatur, ipsam numquam officiis optio praesentium quas repellat sunt tempore
        tenetur unde voluptatibus. Animi commodi culpa dolorem expedita explicabo, facere maxime natus nihil quas sunt!
    </div>
    <div>Debitis dolor, dolore dolorem ea ex explicabo harum id inventore magnam minima, mollitia nam perferendis quis,
        reprehenderit velit? Cupiditate est et ipsum magni minima, nam nesciunt numquam quo reiciendis rem?
    </div>
    <div>Ab, aperiam consequuntur exercitationem fugit id iste iusto maxime modi nemo nihil nulla, obcaecati odio,
        pariatur possimus praesentium provident quae quisquam sapiente similique soluta ullam velit veniam vero
        voluptates voluptatum?
    </div>
    <div>Ad at doloremque maxime minima perferendis placeat quas quod rem? Ad amet aut consequatur corporis deserunt
        dolor eaque earum eligendi error, laboriosam modi neque nisi odio quibusdam, suscipit temporibus unde!
    </div>
    <div>Ab aliquid distinctio ea exercitationem, nobis nulla odio placeat provident ratione reprehenderit similique sit
        vero. Aliquid animi autem deleniti, distinctio dolorem eveniet fugit laudantium natus officia, repudiandae saepe
        sit, soluta.
    </div>
    <div>A ab alias animi asperiores atque delectus dolore doloremque doloribus ex, facere impedit in inventore ipsum
        itaque maiores minima molestias nesciunt non possimus, quam, recusandae sapiente sed similique sint voluptates.
    </div> {% endblock %}
{% block header %}
    Welcome To Safari
{% endblock %}
{% block content %}
    <p>This is my About Page</p>
{% endblock %}